
@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');

.container {
    margin-left: 0px;
}

h1 {
    font-family: 'UnifrakturCook', cursive;
    margin-right:20px;
}
